/* Position counter text to the right of the button and make it bold */
#count {
    font-weight: bold;
    margin-left: 10px; /* Adjust as needed */
  }
  
  /* Add element at the top of the document with id #logo */
  #logo {
    background: url('../assets/holberton-logo.jpg');
    background-size: 200px 200px; /* Ensure the image covers the entire element */
    background-repeat: no-repeat; /* Prevent background image from repeating */
  }
  