#CourseList {
    width: 90%;
    border-collapse: collapse;
    margin: 1rem auto;
    font-family: 'Galano Grotesque Alt', sans-serif;
    font-weight: 400;
    border: 1px solid whitesmoke;
}
  
  #CourseList thead th[colspan="2"] {
    text-align: center; 
  }
  
  /* Styling for the second row of headers */
  #CourseList thead tr:nth-child(2) th {
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
  }
  
  /* Styling for the first header cell in the second row */
  #CourseList thead tr:nth-child(2) th:first-child {
    text-align: left;
    width: 70%;
  }
  
  /* Styling for the second header cell in the second row */
  #CourseList thead tr:nth-child(2) th:last-child {
    text-align: left;
    width: 30%;
  }
  
  /* Styling for the table body cells */
  #CourseList tbody tr td {
    text-align: left;
  }
  
  /* Styling for the last cell in each row of the table body */
  #CourseList tbody tr td:last-child {
    text-align: left;
  }